.beer {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 15px;

    &__image {
        max-height: 500px;
        margin: 20px 0;
    }
}

.beerDeck {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.beerCard {
    position: relative;
    margin: 2rem;
    background: linear-gradient(
            to bottom left,
            rgba(50, 50, 200, 0) 10%,
            rgba(50, 50, 200, 0.15) 100%
        ),
        #fff;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    border-radius: 2px;
    height: 400px;
    width: 350px;
    text-align: center;
    padding: 15px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.beerCard:hover {
    transform: scale(1.03);
    background: linear-gradient(
            to bottom left,
            rgba(50, 50, 200, 0) 10%,
            rgba(50, 50, 200, 0.2) 100%
        ),
        #fff;
}

.beerCard img {
    max-height: 70%;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.beerCard hr {
    margin: 15px auto;
    color: rgba($color: grey, $alpha: 0.1);
    width: 80%;
}

.card-body * {
    margin: 10px auto;
}

.fvIcon {
    position: absolute;
    bottom: 90%;
    left: 90%;
    font-size: 25px;
}

.fvIconMod {
    fill: azure;
    stroke: rgba(20, 10, 30, 1);
    stroke-width: 1;
}

.fvSelected {
    fill: rgba(20, 10, 30, 1);
}

.fvCard {
    background: linear-gradient(
            to bottom left,
            rgba(50, 50, 200, 0) 10%,
            rgba(50, 50, 200, 0.3) 100%
        ),
        #fff;
}
