#countFav {

    &__inner {
        text-align: center;
        padding: 2px 4px;
        font-size: 10px;
        border-radius: 50%;
        background-color: #C999D9;
        ;
        color: white;
        position: relative;
        top: -10px;
        right: 5px;
    }
}

.deep-purple.darken-4 {
    background-color: #302347 !important;
}