.AdvancedTitle {
    text-align: center;
    margin: 10px 0 0 0;
}

.container {
    width: 90%;
}

#advancedSearch1 {
    width: 100%;
    border: 1;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-size: 14px;

    * {
        margin: 10px 20px;
    }

    p {
        text-align: center;
        opacity: 0.6;

    }

    div {
        * {
            margin-top: 0;
            margin-bottom: 0;
        }

        input {
            height: 2.2rem;
        }
    }

}

#advancedSearch2 {
    width: 100%;
    border: 1;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    font-size: 14px;


    * {
        margin: 10px 20px;
    }

    p {
        text-align: center;
        opacity: 0.6;
    }

    div {
        * {
            margin-top: 0;
            margin-bottom: 0;
        }

        input {
            height: 2.2rem;
        }
    }

}